body{
    background-color: navy;
    margin: 0;
}
.welcome-container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.lottie-bg{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.hbd{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 400px;
    height: 400px;
}
.hbd-2{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 400px;
    height: 400px;
    transform: scaleX(-1);
}

.wishes{
    position: absolute;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    color: rgb(235, 136, 151);
    text-align: center;
}

.wishes h3{
    font-size: 3rem;
}

.wishes button{
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    background-color: beige;
    color: rgb(143, 47, 79);
}
.wishes button:hover{
    background-color: white;
}


@media screen and (max-width: 768px){

    .hbd,
    .hbd-2{
        width: 250px;
        height: 250px;
    }

    .wishes h3{
        font-size: 2rem;
        padding: 0 20px;
    }

    .wishes button{
        font-size: 0.9rem;
    }
}



@media screen and (max-width: 480px){

    .hbd,
    .hbd-2{
        width: 160px;
        height: 160px;
    }

    .wishes h3{
        font-size: 1.5rem;
    }

    .wishes{
        gap: 15px;
    }

    .wishes button{
        padding: 10px 18px;
        font-size: 0.8rem;
    }
}